In [1]:
import geopandas as gpd

In [2]:
df = gpd.read_file("pipplo_range_2020.geojson")

In [3]:
df.head()

,species_code,scientific_name,common_name,prediction_year,type,season,start_date,end_date,geometry
0,pipplo,Charadrius melodus,Piping Plover,2020,range,breeding,2020-05-31,2020-06-21,"MULTIPOLYGON (((-95.50744 29.04353, -95.48709 ..."
1,pipplo,Charadrius melodus,Piping Plover,2020,range,nonbreeding,2020-11-09,2020-02-22,"MULTIPOLYGON (((-87.00685 20.68017, -86.96362 ..."
2,pipplo,Charadrius melodus,Piping Plover,2020,range,postbreeding_migration,2020-06-28,2020-11-02,"MULTIPOLYGON (((-87.41196 19.87617, -87.38092 ..."
3,pipplo,Charadrius melodus,Piping Plover,2020,range,prebreeding_migration,2020-03-01,2020-05-24,"MULTIPOLYGON (((-97.46321 27.73117, -97.45992 ..."

In [4]:
df.season.unique()

array(['breeding', 'nonbreeding', 'postbreeding_migration',
       'prebreeding_migration'], dtype=object)

In [5]:
season_list = ['breeding','nonbreeding']
filtered_df = df[df['season'].isin(season_list)]

In [6]:
filtered_df.to_file("pipplo_range_filter.geojson", driver='GeoJSON')

In [2]:
sandy_damage = gpd.read_file("sandy-damage.zip")

In [3]:
sandy_damage.head()

,OBJECTID,GEOID,Total_regi,total_dmg,No_inspect,non_flood_,FL_B_lt_2,FL_B_ge_2,FL_LT_1,FL_1_to_4,...,dmg_o_miss,dmg_r_sf,dmg_r_mf,dmg_r_miss,dmg_o_ni,dmg_o_ins,C_tot_hsg,C_vac_sea,pct_dmg_ns,geometry
0,1001,090091511001,18,11,7,0,0,5,1,4,...,0,3,0,0,1,7,337,43,3.7,"POLYGON ((-72.98672 41.23542, -72.98659 41.235..."
1,1002,090091550003,13,10,3,1,1,3,3,2,...,0,0,5,0,1,4,447,0,2.2,"POLYGON ((-72.94220 41.26352, -72.94411 41.263..."
2,1003,090010805001,26,13,13,4,3,3,0,3,...,0,0,0,0,5,8,768,12,1.7,"POLYGON ((-73.15531 41.15865, -73.15557 41.158..."
3,1004,090091505003,100,75,25,2,7,25,9,28,...,0,11,0,0,26,38,424,52,20.2,"MULTIPOLYGON (((-73.10873 41.19009, -73.10768 ..."
4,1005,090091510004,77,63,14,0,1,17,11,24,...,0,7,0,0,7,49,436,11,14.8,"POLYGON ((-73.01622 41.20917, -73.01575 41.208..."

In [5]:
damage2 = gpd.read_file("CBRS-Sandy-Batch-2-Proposed-2018-12-18_0.zip")

In [ ]:
damage2